[2015-04-06 16:04] dubert opened #1 "Uncaught ReferenceError: React is not defined"
Using gulp + browserify, ./react-hoc-jss.js produces React is not defined error

[2015-04-06 16:30] dubert opened #2 "Not compatible with React 0.12.x"
`Uncaught TypeError: Cannot read property '__reactAutoBindMap' of null`

[2015-04-06 16:38] felixakiragreen commented on #2
Possible Solution: Add react 0.13.x to `peerDependencies` in `package.json`

I believe the problem is related to the Higher Order Components and React 0.12.

[2015-04-06 17:28] dubert opened #3 "Reduce size (& dependencies)"
Adding to a bundle.js increases the size by 30k + lines.

I think it's bundling React as well as every other dependency?

It also only does this with gulp+browserify, not webpack.

[2015-04-06 17:35] dubert opened #4 "Move codebase over to ES6"
Pros:
- Better React+JSX support with Babel
- Allows contributions more easily

Cons:
- I love Coffeescript

[2015-04-08 16:43] dubert opened #5 "Setting props on one instance overwrites separate instances"

[2015-04-09 01:57] #1 closed

[2015-04-09 01:57] #5 closed

[2015-04-20 15:49] dubert opened #6 "Scroll selected hour into view"
Can use `Element.scrollIntoView()`

[2015-04-29 19:21] felixakiragreen commented on #3
Make the dependencies more lax.

[2015-05-10 16:49] #2 closed

[2015-06-01 09:45] santihbc opened #7 "moment.locale is not a function (moment-range 1.1.0 incompatibility)"
Doing a clean npm install to my project, I constantly get this error. It's located in styles.js in the "initializeMoment" method.

Please give me a solution to this @dubert , it's blocking the deployment of my app. Thanks

[2015-06-01 10:21] santihbc commented on #7
I know what the problem is. If you include moment-range 1.1.0 (new version released yesterday) then react-kronos uses that dependency which breaks the current build of your repo @dubert .

[2015-06-01 15:05] felixakiragreen commented on #7
Thanks for catching this. I will fix this and release a new version asap.

[2015-06-01 15:40] felixakiragreen commented on #7
Looked into it, it's definitely a problem with moment-range. Filled an issue [here](https://github.com/gf3/moment-range/issues/77) and I'll release a workaround in the mean time.

[2015-06-01 20:45] felixakiragreen commented on #7
Fixed with 0.2.0 (and moment-range 1.2.0)

[2015-06-01 20:45] #7 closed

[2015-07-08 01:21] luokuning commented on #3
Hi there, I install react-kronos via npm, and I found the `kronos.min.js` is about 390KB, and then I used browserify + uglifyjs to pack `index.js` without ReactJs included in, but after that I found the size of output was still nearly 227KB. How it to be so big? I think it is too heavyweight for browser use, Did I missed something or this is a normal case?

[2015-07-08 13:25] felixakiragreen commented on #3
This is my first library so I'm still figuring a lot of things out. I'm pretty sure it has to do with the fact that it's pulling in React, Moment, Lodash, &c, even if they're already included in your project. I'll start working on this. Any ideas?

[2015-07-09 01:31] luokuning commented on #3
Actually I'm not good at CommonJs way develop, so I'm afraid I can't give you some useful advice. But I packed `index.js` in 'dist' folder using `browserify index.js --ignore react | uglifyjs > kronos.min.js` command-line, so I guess the output js should not include `react.js`.
According to my conjecture, one important reason for this result is that the build system will create a lot of redundant

[2015-07-25 14:25] santihbc opened #8 "npm install error with package "jss""
![image](https://cloud.githubusercontent.com/assets/2404757/8889816/c95cec58-32e9-11e5-9c48-37304a0fa912.png)

[2015-07-27 20:03] santihbc commented on #8
@dubert any news on this?

[2015-07-28 13:16] felixakiragreen commented on #8
@santihbc hey, I was out yesterday, looking into it now. Seems like a problem with JSS. I'll post an update.

[2015-07-29 13:41] felixakiragreen commented on #8
@santihbc fixed in 0.2.2

I'm planning a rewrite in ES6, which should significantly slim down the package, and add some new features :)

[2015-07-29 13:41] #8 closed

[2015-07-29 13:42] felixakiragreen commented on #3
I've learned a bunch in the past month, and I'm planning to rewrite the library in ES6, and I now know how to address this problem!

[2015-08-05 01:01] luokuning commented on #3
Great! I await the new version.

[2015-09-11 15:38] dubert opened #9 "With a min date.now(), the date is highlighted red"
![screen shot 2015-09-11 at 11 38 20](https://cloud.githubusercontent.com/assets/1843672/9819037/9ed1b9fe-5879-11e5-9fe8-9e5c5d85c2b5.png)

[2015-09-14 16:15] dubert opened #10 "Cannot click decade selector"

[2015-09-14 17:32] #10 closed

[2015-09-14 17:32] felixakiragreen commented on #10
Fixed in 0.2.3

[2015-09-14 17:33] felixakiragreen commented on #9
Fixed in 0.2.3

[2015-09-14 17:33] #9 closed

[2015-09-14 17:33] felixakiragreen commented on #6
Added in 0.2.3

[2015-09-14 17:33] #6 closed

[2015-10-19 07:40] arnars opened #12 "Placeholder"
I am having problems with setting the placeholder to a string. If I declare the default state to `null` it just shows up empty. If I declare the default state to `{}` or `moment()` it shows the date. `Undefined` and empty string is not allowed.

How to trigger the placeholder properly?

[2015-10-19 07:41] arnars commented on #12
Ungh - nevermind. Of course I had some leftovers from a previous datepicker, not having the correct attribute.

Sorry! And thanks for the great plug!

[2015-10-19 07:41] #12 closed

[2015-10-22 11:02] nirrek opened #13 "Webpack module parse failed."
[code]

If you are using webpack and haven't installed json-loader and set it up appropriately in webpack.config.js, then the webpack build will fail.

This is probably worth mentioning in your documentation somewhere given that most React devs use webpack, and plenty of people won't have json-loader installed and configured by default.

[2015-10-26 02:29] nicgordon opened #14 "Disable click on date that is out of range"
Is there a currently a way that we can stop users being able to click on dates that are out of range? Currently it still allows those values to be selected and the value of the field to be updated. It would be great if there were a prop we could pass to disable that functionality.

I'd be happy to create a PR, but coffeescript...

[2015-10-26 02:29] beaucharman commented on #4
+1

[2015-10-26 18:31] felixakiragreen commented on #13
Okay, I'm on it

[2015-10-26 18:33] felixakiragreen commented on #14
Yes, I actually already implemented this, I just have to release it. Expect release later today.

Also, as soon as I get the time, I'm going to do a rewrite in ES6.

[2015-10-26 23:24] nicgordon commented on #14
Awesome! Love your work. If I have any time over the weekend I'll have a crack at ES6'ing the project

[2015-10-26 23:25] beaucharman commented on #14
@dubert, you champion.

[2015-10-28 14:55] felixakiragreen commented on #4
1.0 is now ES6

[2015-10-28 14:55] #4 closed

[2015-10-28 15:23] felixakiragreen commented on #3
Updated to 1.0!

[2015-10-28 15:23] #3 closed

[2015-10-28 15:23] felixakiragreen commented on #14
@nicgordon Added in 1.1!

@beaucharman Thanks man :) this is my first open source project so the encouragement means a lot

[2015-10-28 15:23] #14 closed

[2015-10-28 15:24] felixakiragreen commented on #13
Does this still happen with 1.0? And does it happen in production or only development?

[2015-11-09 06:53] nicgordon opened #16 "Allow all events to bubble up"
There are currently some events that are being swallowed by the react-kronos library. If events like onBlur, onClick, onChange, etc. were able to bubble up (with their original event object argument), this would allow us to successfully use react-kronos with a library like redux-forms which relies on the availability of those events.

[2015-11-17 03:05] nicgordon opened #17 "Cannot import react-kronos"
Just upgraded to 1.1.0 and we now get an error `Error: Cannot find module 'react-kronos'`.

It looks as though what is being published to npm needs to be a bit different, perhaps remove all of the dev stuff and define an entry point in your package.json

[2015-11-18 09:53] bdart commented on #17
same here :+1:

[2015-11-19 21:05] felixakiragreen commented on #17
I'll take a look! Sorry for not seeing this early, I somehow didn't get a notification

[2015-11-19 21:05] felixakiragreen commented on #16
I'll take a look! Sorry for not seeing this early, I somehow didn't get a notification

[2015-11-20 15:59] felixakiragreen commented on #16
@nicgordon Okay, I'm working on this now. Are there specific events that you want? Or do you just want all of them?

Please help me a bit, I'm not very familiar with exactly what you need / are looking for. Could you be a little more specific which events are getting swallowed? Or point to an example (like in redux-forms) that shows how all the events are bubbled up?

[2015-11-20 18:20] felixakiragreen commented on #17
Should be fixed in 1.1.1 :)

[2015-11-23 15:04] #17 closed

[2015-11-23 15:04] #13 closed

[2015-12-11 08:30] arnars opened #19 "Open datepicker on event/API"
This is more of a suggestion for improvement than a real issue.

Have you thought of implementing an API to e.g. open the datepicker from a function, rather than onFocus?

That would be really useful (at least for me). My datepicker is currently hidden behind a button, and as it is now, I have no option to do more than just reveal the input field - as I see the documentation, I cannot open the dat

[2015-12-11 15:00] felixakiragreen commented on #19
You're correct, there isn't a way to do that right now. But it would be a great addition.

I will add it to the next release. Any suggestions on how to do it?

[2015-12-11 15:19] arnars commented on #19
I've only just briefly looked at your code, but perhaps an attribute like

[code]

And when it is `true` it could trigger your toggle-method? Perhaps? :-)

[2015-12-14 16:04] felixakiragreen commented on #19
I've been looking into this for the past few days, and I could only find two ways to do this. The first is to use refs to call a component method, and the second is to pass down a `visible` prop and `setVisibility` method to manage the visibility externally.

[2015-12-14 16:58] felixakiragreen commented on #19
Added to 1.2. You can now do this with `this.refs.yourrefhere.refs.kronos.toggle()` and:

[code]

For reference:
`toggle()` switches back and forth, `toggle(true)` only shows, `toggle(false)` only hides.

[2015-12-14 16:58] #19 closed

[2016-01-09 07:01] oyeanuj commented on #16
@dubert With redux-forms, you are essentially exposing the `value`, `onBlur`, `onClick` and `onChange`so that the HOC in redux-form can tap into this and update redux. If you look at the examples in the redux-form repo, you'll see a bunch of examples which do the same.

Hope that helps :)

[2016-01-26 14:55] arnars opened #20 "Better support for browserify?"
I just updated to the newest version, which gave me some errors. I think this is because the main reference in package.json is based on people using webpack.

I included the path to /dist/bundle.js, which works for me, but I am uncertain as to if this adds a lot to the file size? Are there better ways of using react-kronos with browserify?

All the best,
Anders

[2016-01-26 15:24] arnars commented on #20
Actually nevermind I think. I just installed Babel and imported it the way you suggest. It seems to work fine now with browserify.

[2016-01-27 10:20] #20 closed

[2016-01-27 10:40] arnars opened #21 "Uncaught ReferenceError: datetime is not defined (nav.js:41)"
I'm getting the stated error when selecting a date. (Uncaught ReferenceError: datetime is not defined (nav.js:41))

My React-code for the component is:

[code]
The reason why `date` is using `this.props.date` and not `state`, is that the state is held in the parent component. I have tried changing it to state and add a default state, but the pattern is the same.

It is only the first time a date i

[2016-01-27 14:13] felixakiragreen commented on #21
Hmm, I'm investigating it, I'll keep you posted. Passing `date` in as a prop shouldn't make a difference, so I'm not sure why it would be causing that issue right now.

Is `nav.js` from react-kronos or from your project? Can you include that code?

[2016-01-27 14:16] dubert opened #22 "Hours scrollview jumping on first click"

[2016-01-27 15:51] arnars commented on #21
`nav.js` is from react-kronos in the `lib` folder. I tried looking into it to find out where the error came from, but I'm not that skilled within ES6.

With the react debugging console, I can see an object named `datetime` in the Kronos `states`, so it's there, somewhere.

Thank you for giving it a run, this error.

[2016-01-27 17:54] felixakiragreen commented on #21
Is `this.props.date` defined? It needs to start with a date. Try doing:

[code]

and see if there is still an error.

[2016-01-27 18:12] felixakiragreen commented on #22
fixed in 1.2.1

[2016-01-27 18:12] #22 closed

[2016-01-27 18:48] arnars commented on #21
Okay - So it works both with `moment()` and `new Date()` - this does seem to remove the error. However now the date field is shown with the current date and not the placeholder.

Is there a way around this?

[2016-01-27 20:55] felixakiragreen commented on #21
I FOUND IT!

It was a teeny tiny bug I missed when converting the project from coffeescript to es6.

Best of all, you won't need to use the `|| new Date()`. Updating now.

[2016-01-27 21:04] felixakiragreen commented on #21
Fixed in 1.2.2.

Let me know if it doesn't work.

[2016-01-27 21:04] #21 closed

[2016-01-28 09:14] arnars commented on #21
Mr. Luke Dubert.
You rock!

(works perfectly in 1.2.2)

[2016-01-29 10:20] xamfoo opened #24 "props.moment.settings does not seem to work"
Using version 1.2.2

Can't seem to change the calendar to start from Sunday instead of the default. I tried to use it like this in the render function but the calendar week still starts from Monday. I tested 'X' as a value in weekdaysMin but it is also not reflected in the calendar. Let me know if I am doing something wrong, or if there is anything else I can do.

[code]

[2016-01-29 14:51] felixakiragreen commented on #24
Fixed in 1.2.3

Let me know if the problem still persists

(You'll need to change the order of `weekdaysMin` yourself)

[2016-01-29 14:51] #24 closed

[2016-01-29 15:57] xamfoo commented on #24
Works now thanks for the quick response!

[2016-02-03 15:17] alekkowalczyk opened #25 "changes to min/max are not reflected"
I'm setting the max/min values like
    <Kronos time={this.state.start} max={this.state.end} />
    <Kronos time={this.state.end} min={this.state.start} />

when I change the state, the min/max behavior is not refreshing.

EDIT: sorry, that was an error in my React code, issue can be closed, works as expected :)

[2016-02-03 16:49] #25 closed

[2016-03-15 21:00] nickhudkins opened #29 "preventClickOnDateTimeOutsideRange is ignored"
Fortunately #28 fixes it :)

[2016-04-21 08:19] arnars opened #30 "Define Locale Override, Momentjs"
Hi (again),

On the pages where I am using react-kronos, I get the following warning from Momentjs:
http://momentjs.com/guides/#/warnings/define-locale/

I'm using 1.2.3 of react-kronos and 2.13.0 of Momentjs

I assume this is something related to react-kronos' use of Momentjs? Perhaps you can confirm.

All the best,
Anders

[2016-05-17 15:44] belkosyak opened #31 "Support React v15"
Please add support for React v15, it has been released enough time ago to start using it :)

[2016-05-17 15:45] belkosyak commented on #31
Please take a look at #27. I updated this PR to start using React v15, tested quite well, everything works :) . Also fixed bug on demo page.

[2016-05-20 02:18] felixakiragreen commented on #31
@belkosyak Thanks! I will try to get this released by the weekend

[2016-05-26 09:24] belkosyak commented on #31
Really looking forward, thanks in advance!

[2016-05-27 15:03] felixakiragreen commented on #31
Should be fixed in 1.2.4!

[2016-05-27 15:03] #31 closed

[2016-05-27 15:03] felixakiragreen commented on #30
Should be fixed in 1.2.4!

[2016-05-27 15:03] #30 closed

[2016-05-27 15:03] felixakiragreen commented on #16
Should be addressed in 1.2.4!

[2016-05-27 15:03] #16 closed

[2016-05-27 15:04] felixakiragreen commented on #29
Fixed with your PR! It's in 1.2.4. Thanks :)

[2016-05-27 15:04] #29 closed

[2016-06-01 07:07] arnars opened #32 "Uncaught TypeError: Cannot read property 'format' of null (+1)"
Hi, it's me again. Sorry for all these issues, but we're really just enjoying using react-kronos, and the sometimes things pops up!

1. Open http://dubert.github.io/react-kronos/
2. Place the cursor in the first input date field
3. Hit backspace until no more content is in the field
4. Hit enter
5. Watch the console - the above error should pop up.

#### +1
Also - in our solution (not on your site

[2016-06-01 11:42] arnars commented on #32
This could be related to the last issue: https://github.com/facebook/react/pull/5048 - it's a part of the changelog at https://facebook.github.io/react/blog/

[2016-06-03 20:10] felixakiragreen commented on #32
Hey @arnars ! Thanks for reporting this issue.

Should be fixed in 1.2.5 - let me know if you encounter any more issues!

[2016-06-03 20:10] #32 closed

[2016-06-03 20:35] arnars commented on #32
Dear @dubert,

You rock!
I have no issues now, thanks to your update. It's a real pleasure using a plugin that is so consistently maintained. Thank you.

[2016-06-04 02:42] felixakiragreen commented on #32
Thank you! It's always nice to hear positive feedback from people using my component.

[2016-06-08 00:04] hugotox opened #33 "UI goes crazy when clearing out the field and start typing"
Hi!

Thanks for this component. See from your demo page, the controlled example goes bad when you clear out the field and type any number

![screen shot 2016-06-07 at 8 03 52 pm](https://cloud.githubusercontent.com/assets/1758062/15878666/36e55b12-2cf3-11e6-9fa5-4e0f924f1ff5.jpeg)

[2016-06-09 06:53] felixakiragreen commented on #33
Thanks for catching this and reporting it! Fixed in 1.2.6

[2016-06-09 06:53] #33 closed

[2016-06-09 08:52] arnars opened #34 "Controlled visibility bug when navigating in months"
Hi again,

I'm using the controlled version of http://dubert.github.io/react-kronos/

When clicking on the `<<` or `>>` the date picker closes. This seems to be an error, as it disrupts the UI-experience. If `controlVisibility={false}` the problem goes away.

All the best,
Anders

[2016-06-09 19:37] felixakiragreen commented on #34
Thanks for catching this and reporting it! Fixed in 1.2.7

[2016-06-09 19:37] #34 closed

[2016-06-13 18:50] eamonpenland opened #35 "Issue with timezones"
Not sure why I'm having this issue. I receive a utc time as well as offset from the server. I format the time for the kronos timepicker with moment js and the timezone offset I receive from the server. Once I change the date the moment object is recreated (or cloned) and now has an est zone associated with the time stamp. I then need to convert the time to utc seconds to update the time on the ser

[2016-06-13 19:14] yury-dymov opened #36 "Moment lang option not applied to hour dropdown"
Hi, first of all thank you for nice library!

Here is the issue description:

My code:
<Kronos time='15:00' format='HH:mm' options={{ moment: { lang: 'ru' } }}/>

In Russian we have 24 hour format by default. Initial value rendered fine and after selecting 7:30 PM from dropdown I can see 19:30, which is also fine.

The issue is that I am expecting to see 19:30 in the dropdown instead of 7:30 PM. I

[2016-06-14 02:10] felixakiragreen commented on #36
Thanks for reporting this. I investigated this issue, and the problem seems to be that here https://github.com/dubert/react-kronos/blob/master/src/calendar.js#L184-192 the format for the cells is forced. I should be able to update this. Look for an update in a few days!

[2016-06-14 02:11] felixakiragreen commented on #35
I think I'm understanding what is happening. Would you mind providing the surrounding code so that it can be further investigated? I'm not sure what would be causing this.

[2016-06-14 12:10] yury-dymov opened #37 "[Suggestion] Min/max for time picker"
Hello again!

I am using kronos only as time picker. It would be nice if min and max props could be used for this use case as well. I.e. possible restaurant delivery time is between 10 AM and 9 PM.

Kind regards,
Yuri.

[2016-06-14 13:52] felixakiragreen commented on #37
Excellent suggestion. I will implement this for the time picker as well!

[2016-06-14 13:57] dubert opened #38 "Testing"
A good library should have tests

[2016-06-14 14:46] eamonpenland commented on #35
@dubert sure! here is a gist. https://gist.github.com/eamonpenland/cc998cf5cba1378e8b37dac5ec61f64d

this.props.changeStopTime triggers a redux action and in my reducer I have currently solved this by converting the kronos time to seconds and subtracting the time offset from est. Then I add the offset back to the time.

[2016-06-14 15:04] felixakiragreen commented on #37
Added the `minTime` and `maxTime` props in 1.3.0, so you if you set them, it will only apply to the time picker.

[2016-06-14 15:04] #37 closed

[2016-06-14 15:05] yury-dymov commented on #37
Thank you! :)

[2016-06-14 15:06] felixakiragreen commented on #36
Added the format prop to options in 1.3.0, so you can do:

[code]

It will be 24h

[2016-06-14 15:12] yury-dymov commented on #36
First of all, thank you for quick update!

However, I assume that there can be a better solution. My project supports localization and I want that English users had 12-hour format and Russian users - 24-hour format. That means that format should be the same ('HH:mm' or 'H:mm' depends on personal preference) but rendering occurs with respect to selected locale.

[2016-08-19 10:25] amelon opened #41 "visibility issue with visibility controlled"
I'm trying to control visibility and have some issues.

You can reproduce issues at http://dubert.github.io/react-kronos/ on Controlled part.

First issue:
you click on "Toggle Visibility" and then click "next" or "previous" month (on nav bar) => calendar disapear (it should remain visible)

Second issue:
you click on "Toggle Visibility" and then focus input and then "Toggle Visibility" => calenda

[2016-08-19 15:32] felixakiragreen commented on #41
Confirming I see this. Thanks for catching it. I'm pretty busy atm, but I'll try to get a fix out within the next week.

[2016-08-20 18:45] felixakiragreen commented on #41
Should be fixed in 1.4.2

[2016-08-20 18:45] #41 closed

[2016-09-08 14:41] dubert opened #42 "Create docs with Storybook"
https://getstorybook.io/

[2016-09-09 13:41] KCraw opened #43 "`id` prop should be on `input` and not on `Calendar`"
For of all, thanks for this library! Totally agree with your reasoning for creating it, and we're using it it in our app. Happy to help out with PRs as they come up.

In `index.js`, I think we should really be using `props.id` on the `input` and not on `Calendar`. This way we can use  `<label>` with `htmlFor=` instead of wrapping `<Kronos>` in a label, which causes problems -- it ends up also bein

[2016-09-09 15:40] KCraw opened #44 "Expose validation result in `onSelect`"
When controlling visibility, there is currently no way to know whether validation succeeded or failed when `props.onSelect` is called.

The internal `onSelect` uses toggles state.visible; however, if you have enabled `controlVisibility`, this will be out of sync with the actual visibility.

The `props.onSelect` callback should set the appropriate visibility, but it would be nice to know whether th

[2016-09-15 17:31] felixakiragreen commented on #43
Thank you for reporting! The `props.id` on Calendar is for when there are multiple instances of Kronos, they can be distinguished from each other (for styling purposes).

I think we could definitely do `props.id` on the input and `props.calendarId` on the calendar. I can take a stab at it as soon as I have the time (no promises, but hopefully within a week or two), but if it's more urgent, I gladl

[2016-09-15 17:35] felixakiragreen commented on #44
Would you like for this to be a parameter in the callback? For example change: https://github.com/dubert/react-kronos/blob/master/src/index.js#L342

to:

[code]

(and obviously define the didValidate variable)

[2016-09-15 20:18] KCraw commented on #44
Yeah, that would be great. That way we can follow similar logic to the
default of not closing the input if it was somehow invalid. Thanks!

On Thu, Sep 15, 2016 at 12:35 PM, Luke Dubert notifications@github.com
wrote:

[2016-10-06 12:27] mikethejet opened #46 "The className of input."
Hi, thank so much the className of input have to be customized...

[2016-10-18 08:55] amelon opened #47 "upgrade jss module"
Hi,

current version of jss has node engine version stucks to 6.
could you please update jss module to 5.5.5?

thanks

[2016-10-25 16:57] flyalex opened #48 "Changing the time step"
Hi!

Thank you for your job!

How can I change time step in time picker for 5 mins?

[2016-10-28 17:42] felixakiragreen commented on #48
It's not possible yet, but I have plans to add a property that can configure this.

[2016-11-15 11:39] amelon opened #50 "disable component"
hello,

can't find any option to disable component.

Could be fine to have a `disabled` prop as we do for an `input` element (`<input disabled/>`).

[code]

Or do you have other suggestion?

[2016-12-02 12:42] ovarr commented on #48
@dubert any schedule on this? PR #49 has been waiting for a while.

[2016-12-07 17:01] felixakiragreen commented on #48
Hi @ovarr - I will try to get in this weekend! I've been quite overwhelmed at work, and haven't had the time to work on this.

[2017-01-14 23:26] lc3t35 commented on #42
Hi @dubert , I've started a storybook testbed here :

https://github.com/lc3t35/react-kronos/tree/storybook

I have an issue with storybook-addon-specifications : https://github.com/mthuret/storybook-addon-specifications/issues/24, maybe you can have a look too ?

[2017-02-06 20:10] anvk opened #51 "Example page"
First of all thanks a lot for this great component.

It would be so amazing if you would expand on your example page showing different possible options and features of your component with some code examples.
Per say I'm struggling right now to make Kronos to show only time and then to show a dropdown with 24hr format time instead of am/pm one and not sure how to do that.

[2017-02-07 01:00] felixakiragreen commented on #51
You're right. I should do that.

But for your case just do...
[code]

[2017-02-07 01:23] anvk commented on #51
Amazing thanks a lot !

[2017-02-09 16:08] anvk commented on #51
Sorry about that, but I just got my hands on the example and tried both:

`<Kronos time={new Date()} format={'HH:mm'} />`
and
`<Kronos time={new Date()} format={'H:mm'} />`

Both of those options will generate am/pm dropdown menu

[2017-02-09 16:32] anvk opened #52 "Styling"
It would be great to have properties which will allow to set custom styling on this component. Right now I have to write custom LESS files to overwrite default looks. Put `style` and `className` properties would be amazing. I assume there would be different properties to style: input, time dropdown, calendar.

Thank you !

[2017-02-10 16:34] Nantris commented on #52
`className` would be great!

[2017-02-11 17:27] Slapbox opened #53 "timeStep has no effect in Kronos 1.5.1"
Thanks very much for the great work @dubert.

I am trying to use the timeStep property and I have tried passing it in in many ways to no effect.

[code]
and
[code]

None of these produced any effect? Thanks for any ideas you may have.

[2017-02-13 21:36] felixakiragreen commented on #53
Thanks! Fixed in 1.5.2

[2017-02-13 21:36] #53 closed

[2017-02-13 23:15] Nantris commented on #53
Thanks so much!

[2017-02-22 14:17] Nantris commented on #47
This would be really great. I think this is causing some issues in my setup now.

[2017-02-23 18:43] felixakiragreen commented on #47
Updated jss to 6.3.0 in 1.5.3

[2017-02-23 18:43] #47 closed

[2017-03-07 11:53] Noitidart opened #54 "Bug on demo page - time picker"
I really like how this works everywhere. It's not like those "bootstrap" ones where if we're not using bootstrap we have to spend so much time styling it. (well I havent yet tried it, I actually was just basing my thoughts off the demos I compared.)

However there is a bug on the demo page. In Firefox 53 I am seeing this when i click into the uncontrolled time input box:

![](http://i.imgur.com/j3

[2017-03-08 03:58] Noitidart commented on #54
Yep its true this works beautifully in non-bootstrap css frameworks. Straight out of the BOX!

![](http://i.imgur.com/TZuoxEf.png)

Thank you!!!

[2017-03-12 01:25] Noitidart commented on #54
Whoa it seems to not be a bug anymore. No edits happend. Weird. I'll close this.

[2017-03-12 01:25] #54 closed

[2017-03-12 04:36] Noitidart opened #55 "Uncontrolled?"
Is it really possible to do uncontrolled? In the demo it's connected to state. I need a totally uncontrolled field with just a defaultValue. In all cases I need defaultValue to be blank. Right now on re-render it is blanking out, or if I set a `date` prop it goes back to that original value.

[2017-03-13 14:27] felixakiragreen commented on #55
You want the defaultValue to be null?

[2017-03-13 20:05] Noitidart commented on #55
Thanks so much @dubert for the reply. Yes sir, it should be blank, and then when they pick something it should not change state, just set uncontrolled value of the input box via a ref or document.blah.value = 'rawr'. The important thing is, uncontrolled components do not get their uncontrolled value wiped out on re-render. When user clicks "submit" on my form I re-render my form to show a loading

[2017-03-14 00:44] Nantris commented on #51
Both formats @anvk gets am/pm in the dropdown for give me 24 hour. I also tried hh:mm, hh:mm a, setting my moment locale to 'en' before creating moment objects, and more.

@dubert Is there any solution to this? I'm using 1.5.3.

Thanks very much for any advice you can give me.

[2017-03-14 14:22] felixakiragreen commented on #51
@anvk @Slapbox

To format the input box use: `format={'H:mm'}`
To format the dropdown use: `options={ { format: { hour: 'H:mm' } } }`

Please let me know if those don't work. I just tested them myself and they appear to behave correctly.

[2017-03-14 14:29] felixakiragreen commented on #55
Looks like you're correct. The uncontrolled is not truly uncontrolled. I'm not entirely sure how to implement this though, since there is a lot of internal logic handling the validation of the date and internal state storage. Do you have any recommendations?

I've read [Facebook's page on uncontrolled components](https://facebook.github.io/react/docs/uncontrolled-components.html) but it doesn't he

[2017-03-14 14:30] Nantris commented on #51
For me this is what worked (passed into `options` on the `Kronos` component):

[code]

Should I have had to pass this into minutes? Passing it into hours had some effect, but it was buggy/not the desired behavior.

[2017-03-14 14:31] felixakiragreen commented on #36
Change the moment locale between 'en' and 'ru' and that should change the format.

[2017-03-14 15:08] Nantris commented on #51
Hey @dubert, I didn't see your last response.

`options={ { format: { hour: 'hh:mm a' } } }` **does not** work on the dropdown list
`options={ { format: { minute: 'hh:mm a' } } }` **does** work on the dropdown list

[2017-03-14 17:44] Noitidart commented on #55
Thanks @dubert!

I haven't looked into the internals yet :( I will try to take a peak

[2017-04-19 18:37] chipit24 opened #57 "Incorrect time format when using timeStep"
I have my component set up like so:
[code]
Which results in the format of the time in the dropdown to be shown correctly:
<img width="117" alt="screen shot 2017-04-19 at 2 23 02 pm" src="https://cloud.githubusercontent.com/assets/7561061/25195484/c48c9208-250b-11e7-9320-eefa8d9e787b.png">

However, when I add `timeStep`, the time in the dropdown is now formatted in 24-hour time:
<img width="116" a

[2017-05-11 00:51] schuchowsky commented on #57
Had the same issue here.

[2017-05-12 18:47] marktkimball commented on #50
Would like this option as well.

[2017-05-12 18:53] felixakiragreen commented on #50
What would you like the behavior to be when it is disabled? Hidden? Visible but not interactive (greyed out)?

[2017-05-15 16:15] marktkimball commented on #50
@dubert I think greyed out with the `cursor: not-allowed;` css when hovering the element would make sense.

[2017-05-31 04:33] yrokhlin commented on #50
Greyed out like typical disabled input behavior, need this as well.

[2017-06-13 21:50] schuchowsky commented on #50
Hey guys, while we don't have this feature, I solved it with this workaround: https://stackoverflow.com/questions/28083708/how-to-disable-clicking-inside-div

Just use the css pointer-events:none; in a parent element.

[2017-06-15 17:12] felixakiragreen commented on #46
_Just released **1.6.0**!_

Try out the `inputClassName` prop.

[2017-06-15 17:12] #46 closed

[2017-06-15 17:13] felixakiragreen commented on #52
_Just released **1.6.0**!_

Try out the `inputStyle`, `inputClassName`, `calendarStyle`, and `calendarClassName` props!

[2017-06-15 17:13] #52 closed

[2017-06-15 17:13] felixakiragreen commented on #50
_Just released **1.6.0**!_

Try out the `disabled` prop.

[2017-06-15 17:13] #50 closed

[2017-06-15 17:14] felixakiragreen commented on #57
_Just released **1.6.0**!_

This issue should be addressed, let me know if it is not.

[2017-06-15 17:14] #57 closed

[2017-06-15 17:14] felixakiragreen commented on #48
_Just released **1.6.0**!_

Try out the `timeStep` prop.

[2017-06-15 17:14] #48 closed

[2017-06-15 17:15] felixakiragreen commented on #44
_Just released **1.6.0**!_

`onSelect` will now include `(datetime, visible, shouldClose)`. `shouldClose` will inform you whether it validated.

[2017-06-15 17:15] #44 closed

[2017-06-15 17:16] felixakiragreen commented on #43
_Just released **1.6.0**!_

Try out the `inputId` prop, it will pass the string through to the input.

[2017-06-15 17:16] #43 closed

[2017-06-15 17:17] felixakiragreen commented on #36
_Just released **1.6.0**!_

This issue should be fixed.

[2017-06-15 17:17] #36 closed

[2017-06-15 17:17] felixakiragreen commented on #51
_Just released **1.6.0**!_

This issue should be fixed. Using `options={ { format: { hour: 'hh:mm a' } }` is working correctly for me.

[2017-06-15 17:17] #51 closed

[2017-06-15 17:18] felixakiragreen commented on #42
@lc3t35 I took a look but couldn't discover anything. Any progress?

[2017-06-22 17:32] schuchowsky opened #59 "Default start time"
I've been using react-kronos and it's working really well on my project.

But I've just got a request from my client, to make all time inputs start by default at 8am.

Is there an option for it, or could be something easy to implement?

Thanks and regards.

[2017-06-22 18:06] felixakiragreen commented on #59
I would set the time to 8am when you initialize the component.

[2017-06-22 21:58] schuchowsky commented on #59
You mean the value I pass to it? I couldn't because I need to validate if the field wasn't informed.

What I thought was an option to set the default time when opening the dropdown, but still with it's value empty.

[2017-08-08 20:23] Slapbox opened #60 "Remove PropTypes for React 16 Compatibility?"
Is there a plan to do this? Thank you very much for the great package.

[2017-08-10 15:39] felixakiragreen commented on #60
It should already be done in `1.6`. Can you show the warning/error you are receiving? And what version are you on?

[2017-08-10 15:40] Nantris commented on #60
@dubert thanks for the reply. I thought I was fully up to date, but I'll double check and report back.

[2017-08-10 15:47] Nantris commented on #60
Just looking at the code in the `src` directories, I can see that `Static PropTypes` is still in use.

**https://github.com/dubert/react-kronos/blob/master/src/calendar.js**:

[code]

[2017-08-11 19:51] ntibaldi92 opened #61 "preventClickOnDateTimeOutsideRange does not prevent clicks on today"
When a minimum date is set, and preventClickOnDateTimeOutsideRange is set to true, the date picker prevents clicks on all dates in the specified range _except_ today.

ex:
[code]
![screen_shot_2017-08-11_at_3 48 14_pm_360](https://user-images.githubusercontent.com/17012335/29229508-d176d33e-7eac-11e7-8f11-8541def6825b.png)

[2017-09-12 11:28] AppliKey commented on #59
I need to set default time too :(

[2017-10-04 13:28] immutablelist opened #64 "React 16 error"
I am getting an error like this after migrate to React 16.

`Error: Minified React error #149; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=149&args[]=kronos for the full message or use the non-minified dev environment for full errors and additional helpful warnings.`

[2017-10-04 17:08] felixakiragreen commented on #64
Thanks for reporting. I will update the package to React 16 soon™.

[2017-10-16 16:31] paramaggarwal commented on #64
[code]

Thanks for the package, here is the related warning as well.

[2018-01-31 03:43] Wartybliggens opened #65 "Date Changes With Month Buttons"
Hello and thanks for kronos!
I have one big issue: when using the arrow buttons to change the calendar month, the date in the input changes. This is unexpected behavior. I would expect the date to only change when I select a specific day from the calendar (by clicking on it). The month buttons should only be for navigating. And besides that, it shouldn't be possible to change the date in the input

[2018-02-27 13:12] 4ware opened #68 "The "path" argument must be of type string?!?"
Hi!

I just installed the module via yarn. Now i'm getting the following error when importing the component into my component:

... node_modules/react-kronos/dist/bundle.js: The "path" argument must be of type string

What gives?

[2018-02-27 15:42] felixakiragreen commented on #68
Gotta be honest, I have no idea. But a quick google search for "yarn the path argument must be of type string" reveals a bunch of seemingly related issues. Maybe one of them contains a solution that works.

[2018-04-11 15:04] felixakiragreen commented on #64
Updated to 1.7.0 with React 16. Should be fixed.

[2018-04-11 15:04] #64 closed

[2018-04-11 15:04] felixakiragreen commented on #60
Updated to 1.7.0 with React 16. Should be fixed.

[2018-04-11 15:04] #60 closed

[2018-04-27 17:36] fullflavedave opened #70 "Selecting minute outside timeStep will leave dropdown unselected"
If the timeStep is set to 15 minutes, and you enter "10:32 PM", the next time you click on the time field, the dropdown will be unselected, starting at 12:00 AM, and the user will need to scroll way down to select another time close to 10:32 PM.  This is a usability issue for our users.

[2018-04-30 13:10] felixakiragreen commented on #70
I'll test this out today and if everything looks good, merge it and push a new release.

Thanks for the PR!

[2018-05-01 12:57] felixakiragreen commented on #70
@fullflavedave I understand the issue now. Correct me if I'm wrong, but this is only an issue for when `timeStep` is set? When `timeStep` is not set and the user enters "10:32 PM" then it does scroll to the correct place.

I reviewed your PR, and instead of adding a new property, I would like to make the scrolling to the correct spot always the default behavior. Would this address your use-case? T

[2018-05-01 14:44] fullflavedave commented on #70
Thanks for taking a look!  Yes -- this is only an issues with timeStep set.  The above plan you stated of always scrolling to the correct spot would take care of my use-case.

[2018-05-01 17:58] felixakiragreen commented on #70
Fixed in 1.7.1.

[2018-05-01 17:58] #70 closed

[2018-06-26 20:28] CarrierDirectMatt commented on #65
please fix this :(

[2018-06-27 13:39] felixakiragreen commented on #65
@Wartybliggens @CarrierDirectMatt Thanks for bringing this up, my apologies for not addressing it sooner.

The way I designed and implemented this component, this is expected behavior. Every time the user clicks on a button, it makes a change:
- The year arrows change the years
- The month arrows change the months
- Clicking on a year, month, or day selects that specific one

You do bring up a val

[2018-06-28 18:35] Wartybliggens commented on #65
Thank you @dubert for looking at this. I still think it's strange that the navigation at the top of the dropdown would change the date, when I would expect it to get me to a place where I can choose the day. My suggestion would be to make this an explicit toggle, like "changeDateWithNavigation", defaulting to true for backwards-compatibility.

[2018-06-28 19:55] Wartybliggens opened #72 "Prevent bubbling of click events"
A big problem I have run into with react-kronos is that click events escape, since kronos does not use event.preventDefault() for clicks on the date chooser dropdown.

Imagine this scenario:

- A modal overlay with a form in it, including react-kronos.
- The modal is set up so that clicks outside the modal auto-close it.
- When the user clicks on the react-kronos dropdown, it counts as an outside

[2018-06-30 09:01] jeanbmnn opened #73 "Translating"
Hi, I'd like to translate your wonderful calendar for my french web-site, but I can't find where do all strings like 'June', Jully' or 'Today' come from, could you please give me some nice indication?

[2018-07-02 13:48] felixakiragreen commented on #73
Hi @jeanbmnn ! Thanks for checking out react-kronos.

Translation and other locale settings are set using moment. For example:
[code]
You can also configure moment by importing it first and setting the locale there:
`moment.locale('fr')` [See here](http://momentjs.com/docs/#/customization/)

These approaches make it much easier so that you don't have to do all the translation yourself.

[2018-07-02 16:37] jeanbmnn commented on #73
Thank very much! It works well! However, the first day of the week was set to Sunday, so I put here the code needed to change it back to Monday, found here: https://stackoverflow.com/questions/18875649/moment-js-starting-the-week-on-monday-with-isoweekday/18875953#

[code]
You save me lot of time!

[2018-07-02 16:56] #73 closed

[2018-07-02 17:50] felixakiragreen commented on #73
I agree, Monday is definitely the start of the week, not Sunday :)

Glad I could help.

[2018-07-20 00:19] tabby-or-not opened #74 "Incompatible with latest moment-range"
react-kronos appears to be incompatible with the latest version of moment-range - crashing with a `Type Error: range is not a function`

I have fixed `moment-range` to v2.2.0 in our project as a temporary fix.

[2018-07-20 19:15] felixakiragreen commented on #74
Thanks for bringing this up! Should be able to fix it pretty quickly.

[2018-11-01 15:06] mikebcbc opened #75 "Incompatibility with React 16.3.0 and up"
`Invariant Violation: Element ref was specified as a string (kronos) but no owner was set.`

When react-dom and react are past version 16.2.0, this package breaks. I believe this error is in reference to line 49 of `src/styled-component.js`. According [the documentation](https://reactjs.org/warnings/refs-must-have-owner.html), you can not use refs on function components. In version 16.3.0, a coupl

[2018-11-15 04:27] felixakiragreen commented on #75
Thanks for bringing this up. I will try to get it updated soon. Been pretty busy working on other projects lately.

[2019-03-11 21:30] mikebcbc commented on #75
@xenophilicibex Hey there! I just wanted to check in and see if this is still being updated?

[2019-03-12 01:09] felixakiragreen commented on #75
My apologies @mikebcbc . I will try to get to it this week, but I would also welcome a PR to update it!

[2019-03-19 13:50] felixakiragreen commented on #75
Updated!

[2019-03-19 13:50] #75 closed

[2019-11-30 00:25] Slapbox opened #76 "Is calendarAbove still working/is use?"
I know a while back the calendar automatically determined if there was space for it, but I can't seem to get the calendar to appear above the input instead of below.

I don't see it documented anywhere, or in the issues, but here's some of the styles for it: https://github.com/xenophilicibex/react-kronos/blob/master/src/styles.js#L122

[2019-12-02 15:25] felixakiragreen commented on #76
It should still be working. When I resize the window on the demo site (https://xenophilicibex.github.io/react-kronos/) it changes place. Can you share a gif or screenshot/code of it not working?

[2019-12-05 23:44] Nantris commented on #76
Thanks for your reply @xenophilicibex. It works fine on the demo, and I guess fails only in my particular use case. So far I'm not sure how to reproduce it, since the layout is built using `flex` and not doing anything that stands out as a possible cause besides using a small window. My environment is `Electron@6.x`

For all, now I've got to share is this dinky screenshot:

![image](https://user-i

[2019-12-10 16:12] felixakiragreen commented on #76
I think the problem might be Electron? I'm not sure. Would adding a prop that let you manually set the calendar position address your issuue?

[2019-12-10 23:24] Nantris commented on #76
Hey @xenophilicibex - thanks for your thoughts. I really thought it would, but forking the repo and setting the prop for `Calendar` to always resolve `above` as true still doesn't do it unfortunately.

Kronos works fine elsewhere in Electron, though all of our other current uses pop downward, not upward. We used to use it elsewhere to pop upward though and it worked great. Weird situation - still

[2019-12-11 16:03] felixakiragreen commented on #76
Is the window height different?

[2019-12-24 05:56] shubhanus opened #77 "Portal support"
It's better to give portal support for the popover. Some time height is less in what we are showing date picker that popover we can't control z-index if we give portal support that will solve these issues.

[2020-01-03 17:06] felixakiragreen commented on #77
What would be involved in portal support?

[2020-01-03 17:09] shubhanus commented on #77
For Rendering children into a DOM node that exists outside the DOM hierarchy of the parent component.

https://reactjs.org/docs/portals.html

It's just simple implementation.

[2020-02-04 22:05] xenophilicibex opened #78 "Discontinuation of Maintenance"

[2020-02-12 22:52] #76 closed

[2020-02-19 22:07] Slapbox opened #79 "timeStep greater than 60?"
I was wondering if the `timeStep` can be set to a larger unit, like `180`? It seems like no, am I mistaken?

Thanks for sharing this great project!

[2020-07-22 06:25] vishgirase95 opened #80 "error in date"
input-
import React from "react"
import ReactDOM from "react-dom"

let c = new date();

ReactDOM.render(

    <h1>Hello sir, good morning, {c}</h1>,
    document.getElementById('root')
);
output error-
 'date' is not defined  no-undef

[2020-07-23 14:48] felixakiragreen commented on #80
@vishgirase95 try `let c = new Date();` (capital `D`, not lowecase `d`)

[2020-07-23 14:48] #80 closed